{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="dashboard-container">
    {% include 'alerts.html' %}
    <div class="dashboard-wrap">
        <div class="dashboard">
            {% include 'account/dashboard_sidebar.html' %}
            <div class="dash-content">
                <span><strong>Edit Password</strong></span>
                <form class="edit-profile" method="POST"  action="{%  url 'edit_password' %}">
                    {% csrf_token %}
                    
                    
                    
                    <div class="edit-form-grp edit-add">
                        <label for="current_password">Current Password</label>
                        <input type="text" name="current_password" id="current_password" required>
                    </div>
                    <div class="edit-form-grp edit-add">
                        <label for="new_password">New Password</label>
                        <input type="text" name="new_password" id="new_password" required>
                    </div>
                    <div class="edit-form-grp edit-add">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="text" name="confirm_password" id="confirm_password" required>
                    </div>
                   
                    
                    
                    <button type="submit">Change Password</button>
                </form>




            </div>
        </div>
    </div>
</section>
{% endblock %}