{% extends 'base.html' %}

{% block content %}
{% load static %}
<section class="login-container">
    {% include 'alerts.html' %}
    <form class="login-form reset-form" action="{% url 'reset_password' %}" method="POST"  >
        {% csrf_token %}
        <div class="register-icon">
            <img src="{% static 'images/icons/cart-black.png' %}" alt="">
        </div>
        <h3>Fogot Password</h3>
        <input type="email" name="email" id="email" placeholder="Enter Your Email here" required>
        <a href="{% url 'login' %}">Got password ? Login</a>
        <button type="submit"><strong>Sent verification</strong></button>
    </form>

    <small>Dont have an account ? <a href="{% url 'register' %}">Sign Up</a></small>
</section>
{% endblock %}