@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap");
:root {
  /* font */
  --main-font: "Arimo", sans-serif;
  /* font size */
  --font-8: 8px;
  --font-12: 12px;
  --font-14: 14px;
  --font-18: 18px;
  --font-24: 24px;
  --font-40: 40px;
  --font-30: 30px;
  --font-60: 60px;

  /* colour */
  --black: #000000;
  --grey: #3e3636;
  --red: #d72323;
  --violet: #9929ea;
  --white: #fff;
  --smoke:#f1f2f2;
  --bg:#f1f2f2;

  /* ribbon */
  --ribbon-red: linear-gradient(
    90deg,
    rgb(195, 0, 0),
    rgb(255, 135, 135),
    rgb(196, 0, 0)
  );
  --ribbon-green: linear-gradient(
    90deg,
    rgb(0, 82, 82),
    rgb(5, 191, 191),
    rgb(0, 83, 83)
  );
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}
/*Floter */
.floter {
  height: 20px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floter p {
  color: var(--white);
  font-size: var(--font-14);
}
.floter p a {
  color: var(--violet);
  font-size: 12px;
}
.floter i {
  color: var(--white);
  position: absolute;
  right: 20px;
}
/* Header */
.head-sec {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
  line-height: 2;
  font-size: var(--font-18);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.head-sec-left {
  display: flex;
  column-gap: 20px;
}
.head-sec-left select,
::picker(select) {
  appearance: base-select;
}
.head-sec-left select,
select:active {
  border: none;
  outline: none;
  font-size: var(--font-18);
  padding-inline: 20px;
}
.head-sec-left select option::checkmark {
  display: none;
}
.head-sec-right {
  height: 100%;
  align-items: center;
  display: flex;
  column-gap: 20px;
}
.head-sec-right {
  height: 100%;
  align-items: center;
  display: flex;
  column-gap: 20px;
}
.head-sec-right a {
  height: 100%;
  align-items: center;
  display: flex;
  column-gap: 5px;
  color: var(--grey);
  text-decoration: none;
}
.head-sec-right a i {
  font-size: var(--font-18);
  color: var(--grey);
}

/* Navbar */
.navbar {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-inline: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  text-decoration: none;
  color: var(--black);
  height: 100%;
  align-items: center;
  display: flex;
}
.navbar .logo span {
  font-size: 34px;
  font-family: "Bungee", sans-serif;
  color: var(--violet);
}
.navbar .logo img {
  height: 40px;
}
.navbar .logo p {
  font-size: 34px;
  font-family: "Pacifico", cursive;
  margin-left: 10px;
}
.navbar .cat-drop-wrap{
  position: relative;
}

.navbar .cat-drop-wrap strong{
  padding: 10px 20px;
  background-color: var(--violet);
  color: var(--white);
  border-radius: 100vw 100vw 100vw 100vw;
  cursor: pointer;
}
.navbar .cat-drop-wrap strong:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cat-drop{
  cursor: pointer;
  position: absolute;
  top:30px;
  background-color: white;
  left: 0;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  display: none;
}
.cat-show{
  display: block;
}
.navbar .cat-drop-wrap .cat-drop li{
  list-style: none;
  padding:10px 35px ;
}
.navbar .cat-drop-wrap .cat-drop li:hover{
  background-color: rgb(223, 223, 223);
}
.navbar .cat-drop-wrap .cat-drop li a{
  text-decoration: none;
}
.navbar #store {
  padding: 10px 15px;
  border: 1px solid var(--violet);
  border-radius: 100vw 100vw 100vw 100vw;
  text-decoration: none;
  color: var(--violet);
  transition: all 0.3s ease-in-out;
}
.navbar #store:hover {
  background-color: #9929ea;
  color: var(--white);
}
.navbar form {
  display: flex;
}
.navbar form input {
  width: 400px;
  padding: 10px 20px;
  border-radius: 100vw 0 0 100vw;
  outline: none;
  border: 1px solid var(--violet);
}
.navbar form button {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: var(--violet);
  border-radius: 0 100vw 100vw 0;
  color: var(--white);
}
.navbar .login {
  display: flex;
  flex-direction: column;
}
.navbar .login span {
  width: 100%;
  text-align: center;
}
.navbar .login span a {
  text-decoration: none;
}
.navbar .login small {
  color: var(--grey);
}
.navbar .cart {
  position: relative;
}
.navbar .cart i {
  font-size: var(--font-24);
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
  color: grey;
}
.navbar .cart i:hover {
  border: 1px solid var(--violet);
  color: var(--violet);
}
.navbar .cart .item-count {
  top: -5px;
  right: -7px;
  background-color: var(--red);
  color: var(--white);
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* banner */
.banner {
  height: 80vh;
  width: 100%;
  padding: 50px 100px;
  position: relative;
}
.banner img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: left 500px;
}
.banner .banner-info {
  position: absolute;
  color: var(--white);
  padding: 70px 150px;
  inset: 0;
}
.banner .banner-info h1 {
  font-size: var(--font-60);
  width: 70%;
  color: var(--white);
  text-transform: capitalize;
  font-family: "Bungee", sans-serif;

  /* font-family: "Playwrite NZ Basic", cursive; */
}
.banner .banner-info p {
  margin-block: 30px;
  font-size: var(--font-18);
  color: var(--white);
  font-family: "Playwrite NZ Basic", cursive;
  width: 70%;
  margin-bottom: 40px;
}
.banner .banner-info .banner-link {
  padding: 10px 20px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 100vw 100vw 100vw 100vw;
  text-decoration: none;
}

/* Popular items */

.popular-container {
  padding: 50px 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.popular-container span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
  font-family: "Pacifico", cursive;
  /* text-transform: uppercase; */
}
.popular-container span h2 {
  position: relative;
}
.popular-container span h2::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 1125px;
  left: 112%;
  top: 50%;
  border-radius: 100vw 100vw 100vw 100vw;
  background-color: rgba(128, 128, 128, 0.345);
}
.popular-container span a {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--violet);
  text-decoration: none;
}
.popular-container .popular {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
 .card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 20rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
 .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .card button {
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: var(--violet);
  color: var(--white);
  border-radius: 5px;
  border: none;
  font-size: var(--font-14);
}
 .card button:hover {
  border: none;
  background-color: var(--black);
  color: var(--white);
}

 .card img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: cover;
  } .card .card-info {
  padding: 10px;
  height: fit-content;
  border-radius: inherit;
  background-color: var(--white);
}
 .card .card-info a {
  color: var(--black);
  text-decoration: none;
}
 .card .card-info h3 {
  margin-bottom: 5px;
  width: 100%;
}
 .card .trend {
  position: absolute;
  padding: 2px 5px;
  background-image: var(--ribbon-red);
  background-size: 200% auto;
  background-position: left center;
  border-radius: 2px;
  letter-spacing: 2px;
  top: 8px;
  left: 8px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: var(--font-12);
  animation: shine 2s linear infinite;
}
@keyframes shine {
  0% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}

/* Footer */
.footer {
  height: 50vh;
  position: relative;
  background-color: var(--white);
  z-index: 1;
  overflow: hidden;
}
.footer::before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: black;
  clip-path: polygon(12% 29%, 100% 0, 100% 100%, 0% 100%);
}
.footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: var(--violet);
  clip-path: polygon(0 0, 87% 38%, 100% 100%, 0% 100%);
}
.footer-info {
  position: absolute;
  z-index: 4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.footer-info a {
  text-decoration: none;
  color: white;
}
.footer-info .social-handel {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
.footer-info .social-handel i {
  font-size: var(--font-40);
  color: var(--violet);
}
.footer-info .contact-info {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font-size: var(--font-24);
}
.footer-info span {
  font-size: var(--font-18);
}
.footer-info span em {
  color: var(--violet);
}


/* Store */

.store{
  padding: 50px 80px;
background-color: #f1f2f2;
  
}
/* .store h1{
    font-family: "Bungee", sans-serif;
} */

.store-container{
  display: flex;
  padding-top: 50px;
}
.store-container .store-sidebar{
  height: 100vh;
  width: 23%;
  padding-block: 50px;
  
}

.store-container .store-sidebar .side-cart{
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.store-container .store-sidebar .side-cart strong{
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 7px;
}
.category-close{
  display: none;
}
.store-container .store-sidebar .side-cart ul {
  padding-block: 10px;
}
.store-container .store-sidebar .side-cart ul li{
  list-style: none;
  margin-block: 5px;
}
.store-container .store-sidebar .side-cart ul li a{
  text-decoration: none;
  color: var(--violet);
}
.size-list{
  margin-block: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.size-close{
  display: none;
}
.store-container .store-sidebar .side-cart .size-list li a{
  border-radius: 100vw 100vw 100vw 100vw;
  padding: 5px 10px;
  border: 1px solid var(--violet);
}
.store-container .store-sidebar .side-cart form{
  display: flex;
  flex-direction: column;
}
.store-container .store-sidebar .side-cart form button{
  height: 40px;
  border-radius: 5px;
  background-color: var(--violet);
  color: white;
  border: none;
  font-size: var(--font-14);
}
.store-container .store-sidebar .side-cart form button:hover{
  border: none;
  background-color: var(--black);
  color: white;
}
.form-container{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.form-close{
  display: none;
}
.store-container .store-sidebar .side-cart form .form-group{
  display: flex;
  flex-direction: column;
  gap:3px;
}
.store-container .store-sidebar .side-cart form .form-group label{
  font-size: var(--font-18);
}
.store-container .store-sidebar .side-cart form .form-group select{
  height: 40px;
  width: 100px;
  font-size:  var(--font-18);
}

.store-items-container{
  width: 77%;
  /* background-color: red; */
  height: fit-content;
}
.store-items-container strong{
  margin-block:50px;
  padding-inline: 16px;
}
.store-items-container .store-items-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 20px ;
}
.store-items-container .store-items-wrap a{
  height:70%;
  width: 70; 
  text-decoration: none;
  color: black;
}
.paginator #prev,#next{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
  border: 3px solid var(--black);
  background-color: black;
  color: white;
}
.paginator #prev:hover,#next:hover{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.paginator a{
  text-decoration: none;
}
.paginator span{
  padding: 8px 15px;
  border-radius: 2px;
  background-color: white;
}
.paginator-wrap{
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
#current-page{
  background-color: var(--black);
  color: white;
}
#current-page:hover{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

/* product details */

.product-details{
  height: fit-content;
  width: 100%;
  padding: 100px 130px;
  /* background-color:#f1f2f2; */
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.product{
  height: 70vh;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.product .product-img{
  height: 100%;
  width: 40%;
  /* background-color: black; */
  border-radius: 5px;
  border-right: 1px solid rgba(128, 128, 128, 0.4);
}
.product .product-img img{
  height: 100%;
  width: 100%;
  background-size: cover;
}
.product form{
  height: 100%;
  width: 60%;
  padding: 50px;
}
.product .product-info{
  height: 100%;
  width: 100%;
  
}
.product .product-info h1{
  font-size: var(--font-40);
  /* margin-bottom: 10px; */
}
.product .product-info strong{
  font-size: var(--font-24);
  padding-block: 20px;

}
.product .product-info p{
  font-size: var(--font-18);
  padding-block: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4) ;
}
.wrap{
  padding-block: 10px;
}
.wrap small{
  line-height: 2;
  font-weight: 600;
}
.color-option,.size-option{
  display: flex;
  /* padding: 5px; */
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  padding: 0px;
  height: fit-content;
  width: fit-content;
}
.color-option li,.size-option li{
  list-style: none;
  padding:6px 20px;
  background-color: white;
  border-radius: 3px;
  flex-shrink: 0;
  cursor: pointer;

}
/* .color-option li a,.size-option li a{
  text-decoration: none;
  padding: 7px 20px;
  border-radius: 5px;
} */
.color-option li:hover,.size-option li:hover{
  background-color: var(--black);
  color: var(--white);
}
.product .product-info button{
  padding: 10px 50px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: var(--violet);
  color: var(--white);
  font-size: var(--font-18);
  border: none;
}
.product .product-info button:hover{
  background-color: var(--black);
}
.comments-section{
  height: 40vh;
  width: 100%;
  background-color: var(bg);
}
.comments-section h1{
  font-size: var(--font-30);
  line-height: 3;
}
.comment{
  height: fit-content;
  width: 80%;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
}
.comment .comment-info{
  width: 100%;
  display: flex;
  align-items: center;
}
.comment .comment-info img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid grey;
}
.comment .comment-info p{
  float: right;
  margin-left: auto;
}
.comment .comment-desc {
  padding-block: 20px;

}
.stock-not-available{
  padding: 10px 20px;
  color: red;
}
.remove-item{
  background-color: green !important;
}
.view-cart{
  background-color: white !important;
  color: var(--violet) !important; 
  border: 1px solid var(--violet) !important;
  cursor: pointer;
}
.view-cart:hover{
  background-color:var(--violet)!important;
  color:var(--white)!important;
}
.selected-color{
  background-color: var(--violet)!important;
}
.selected-size{
  background-color: var(--violet)!important;
}
/* Cart */
.cart-container{
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 100px;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.cart-page{
  height: fit-content;
  width: 60vw  ;
  padding: 20px;  
  background-color: white;
  border-radius: 5px; 
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.cart-page table{
  width: 100%;  
  border-collapse: separate;
  border-spacing: 30px;
}
.cart-page table th{
  color: grey; 
  padding-bottom: 20px;
}

.cart-page table .p-name{
  width: 35%;
  text-align: left;
  border: transparent;
}
.cart-page table .pi-name{
  display: flex;
  gap: 10px;
}
.cart-page table .pi-name .pi-info-box a{
  text-decoration: none;
  color: black;
}
.cart-page table .pi-name .pi-info-box small{
  color: grey;
}
.cart-page table .pi-name img{
  height: 50px;
  width: 60px;
  background-size: cover;
}
.cart-page table .p-qunatity{
  width: 25%;
  text-align: left;
}

.cart-page table .pi-qunatity .pi-q-count{
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  border: 1px solid var(--violet);
}
.cart-page table .pi-qunatity .pi-q-count button{
  padding: 5px 15px;
  height: 100%;
  background-color: white;
  border: none;
  font-size: var(--font-12);
  flex-shrink: 0;
}
.cart-page table .pi-qunatity .pi-q-count button:active{
  border: none;
}
.cart-page table .pi-qunatity .pi-q-count button:hover{
  color: var(--violet);
}
.cart-page table .pi-qunatity .pi-q-count span{
  border-left: 1px solid var(--violet);
  border-right: 1px solid var(--violet);
  padding: 5px 15px;
}
.cart-page table .p-price{
  width: 30%;
  text-align: left;
}
.cart-page table .pi-price .pi-p-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  
}
.cart-page table .pi-price .pi-p-box strong small{
  font-weight: 100;
  color: grey;
  
}
.cart-page table .pi-price .pi-p-box button{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--red);
  color: white;
  border: none;
  cursor: pointer;
  
}
.cart-payment{
  height: fit-content;
  width: 300px  ;
  padding: 30px;  
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.cart-payment span{
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
.payment-gateways{
  margin-block: 10px;
  background-color: white;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.payment-gateways img{
  height: 100%;
  width: 100%;
  background-size: cover;
}
.payment-btn{
  width: 100%;
  height: fit-content;
}
.payment-btn button{
  height: 40px;
  width: 100%;
  cursor: pointer;
  margin-block: 10px;
  font-size: var(--font-14);
  border: none;
  border-radius: 5px;
  background-color: var(--violet);
  color: var(--white);
  transition: all 0.3s ease;
}
.payment-btn button:hover{
  background-color: green;
}

#continue{
  background-color: var(--black);
}
#continue:hover{
  background-color: gray;
}
.cart-not-found{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.cart-not-found p{
  font-size: var(--font-30);
  font-weight: 500;
  text-transform: capitalize;
}
.cart-not-found button{
  padding: 10px 20px;
  background-color: var(--violet);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.cart-not-found button:hover{
  background-color: black;
  
}
/* Register */
.register-page{
  height: 100vh;
  background:linear-gradient(180deg,var(--violet),white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.register-page small{
  font-size: 14px;
  color: rgb(91, 91, 91);
}
.register-page small a{
  text-decoration: none;
}
.register{
  padding:20px;
  width: 30vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  position: relative;
}
.register-icon{
  position: absolute;
  top:-27px;
  left: -27px;
  padding: 1px;
  background-color: white;
  border-radius: 50%;
}
.register h3{
  padding: 20px 0px;
}
.register button{
  height: 35px;
  border: none;
  background-color: var(--violet);
  color: white;
  transition: all 0.3 ease-in-out;
  border-radius: 3px;
  cursor: pointer;
}
.register button:hover{
  background-color: green;
}
.input-container{
  width: 100%;
  display: flex;
  gap: 20px;
}
.email-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.email-container input{
  height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 3px;
  padding-left: 15px;
  outline: none;
}
.email-container input:focus{
  border-color: var(--violet);
   border-width: 2px;
}
.email-container label{
  font-size: 12px;
  color: rgb(91, 91, 91);
}
.email-container small{
  font-size: 10px;
  color: rgb(91, 91, 91);
}
.email-container span small strong{
  font-size: 10px;
  color: red !important;
}
.input-container .input-grp{
  display: flex;
  width: 50%;
  gap: 3px;
  flex-direction: column;
}
.input-container .input-grp input{
  height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 3px;
  padding-left: 15px;
  outline: none;
}
.input-container .input-grp input:focus{
  border-color: var(--violet);
  border-width: 2px;
}
.input-container .input-grp label{
  font-size: 12px;
  color: rgb(91, 91, 91);
}

/* alerts */
.msg-info{
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: rgb(0, 175, 0);
  color: white;
  border-radius: 100vw 100vw 100vw 100vw;
  transition: all 0.3s ease;
  animation: move-in 3s ease 0s forwards,
              fade 6s ease 0s forwards ;
}
.msg-info i{
  color: white;
}
@keyframes move-in {
  from{
    transform: translateY(20px);
  }
  to{
    transform: translateY(0px);
  }
}
@keyframes fade {
  from{
    opacity: 1;;
  }
  to{
    opacity: 0;;
  }
}

/* Login */
.login-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
  background:linear-gradient(180deg,var(--violet),white);

}
.login-form{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.login-container .register-icon{
  position: absolute;
  top:-37px;
  left: -37px;
  padding: 1px;
  background-color: white;
  border-radius: 50%;
}
.login-form input{
  height: 30px;
  width: 300px;
  border-radius: 2px;
  outline: none;
  border: 1px solid grey;
  padding-left: 20px;
}
.login-form button{
  height: 30px;
  background-color: var(--violet);
  border-radius: 3px;
  color: var(--white);
   outline: none;
   border: none;
   transition: all 0.3s ease;
   cursor: pointer;
}
.login-form button:hover{
  background-color: green;
}
.login-container small{
  color: white;
}
.login-container small a{
  text-decoration: none;
}
.verification{
  padding: 20px;
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
  border-radius: 5px;
  text-align: center;
  line-height: 2;
}
/* Verified email */
.verified-email{
  background-color: lightgreen;
}